* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D8BFD8; 
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.6fr 1.1fr 1.1fr 1.1fr 1.1fr;
    grid-template-rows: 0.7fr 2.7fr 0.6fr;
    grid-template-areas: "sidebar nav nav nav nav"
                         "sidebar conteudo1 conteudo2 conteudo3 conteudo4"
                         "sidebar footer footer footer footer";
    grid-gap: 1em;
    padding: 1.5em;
}

p {
    color: black;
    background-color: transparent;
}

#nav {
    font-family: 'Bruno Ace SC', 'cursive';
    font-size: 2.8em;
    font-weight: 300;
    text-align: center;
    -webkit-text-stroke: 1px white;
    padding: 0.5em;
    grid-area: nav;
    border-radius: 0.5em;
    background-image: url("side_img/OIP3.jpg");
    background-position: center;
    background-size:contain;
    
}

#sidebar {
    font-family: 'Bruno Ace SC', 'cursive';
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    grid-area: sidebar;
    border-radius: 0.5em;
    align-content: center;
}

#imagem-lateral {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.cadastro {
    display: flex;
    flex-direction: column;
    font-family: 'Bruno Ace SC', 'cursive';
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    padding-top: 1.5em;
    grid-area: conteudo1;
}

.cadastro > p,
.editar > p,
.pesquisar > p,
.resultado > p {
    text-align: center;
    /*border: 2px double black;*/
    border-style: outset;
    border-radius: 0.5em;
    padding: 0.5em;
}

#cad-form,
#edit-form,
#search-form,
#result-search {
    padding: 2.5em;
    font-family: 'Roboto', sans-serif;
    margin-top: 2em;
    margin-bottom: 1.55em;
    height: 70%;
    border-radius: 0.5em;
    border-style: outset;
    /*background-color: #f1ecec;*/
    background-color: #D8BFD8;
}
#result-search {
    padding-left: 0.5em;
    resize: none;
}

input {
    width: 70%;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    margin: 0.5em;
    margin-bottom: 2.5em;
    outline: unset;
    border: unset;
    background-color: white;
}

.button {
    display: flex;
    padding: 1rem;
    margin-top: 0;
    justify-content: space-around;
    background-color: transparent;
}

#btn {
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 0.2rem 0.3rem;
    align-items: center;
    font-size: 1rem;
    line-height: 24px;
    /*background-color: #D8BFD8;*/
    background-color: white;
    color: black;
}

#btn:hover {
    text-decoration: none;
    color: brown;
    background-color: #D8BFD8;
    transition: 0.2s;
}

.editar {
    display: flex;
    flex-direction: column;
    font-family: 'Bruno Ace SC', 'cursive';
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    padding-top: 1.5em;
    grid-area: conteudo2;
    border-radius: 0.5em;
    background-color: transparent;
}

.pesquisar {
    display: flex;
    flex-direction: column;
    font-family: 'Bruno Ace SC', 'cursive';
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    padding-top: 1.5em;
    grid-area: conteudo3;
    border-radius: 0.5em;
    background-color: transparent;
}

.resultado {
    display: flex;
    flex-direction: column;
    font-family: 'Bruno Ace SC', 'cursive';
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    padding-top: 1.5em;
    grid-area: conteudo4;
    border-radius: 0.5em;
}

#result-search {
    outline: none;
    border: none;
    margin-top: 1em;
    background-color: white;
}

#footer {
    font-family: 'Bruno Ace SC', 'cursive';
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 0;
    margin-top: 0.25rem;
    grid-area: footer;
}